<div class='container'>
  <div class='row'>
    <div class="col-md-8">
      <h2>マイページ</h2>
      <table class="table-borderless">
        <tr>
          <th>登録情報</th>
          <td>
            <%= link_to customers_edit_information_path, class: "btn btn-success" do %>編集する
            <% end %>
          </td>
        </tr>
      </table>
        <table class="table table-bordered">
        <tr>
          <th class="table-active" width="30%">氏名</th>
          <td width="70%">
            <%= @customer.first_name %>
            <%= @customer.last_name %>
          </td>
        </tr>
        <tr>
          <th class="table-active">カナ</th>
          <td>
            <%= @customer.first_name_kana %>
            <%= @customer.last_name_kana %>
          </td>
        </tr>
        <tr>
          <th class="table-active">郵便番号</th>
          <td><%= @customer.postal_code %></td>
        </tr>
        <tr>
          <th class="table-active">住所</th>
          <td><%= @customer.address %></td>
        </tr>
        <tr>
          <th class="table-active">電話番号</th>
          <td><%= @customer.telephone_number %></td>
        </tr>
        <tr>
          <th class="table-active">メールアドレス</th>
          <td><%= @customer.email %></td>
        </tr>
        </table>

        <table class="table-borderless">
          <tr>
            <th>配送先</th>
            <td>
              <%= link_to addresses_path, class: "btn btn-primary" do %>一覧を見る
              <% end %>
            </td>
          </tr>
          <tr>
            <th>注文履歴</th>
            <td>
              <%= link_to orders_path, class: "btn btn-primary" do %>一覧を見る
              <% end %>
            </td>
          </tr>
        </table>
    </div>
  </div>
</div>