  <div class='container'>
    <div class='row'>
      <div class='col-8'>
        <h2>管理者ログイン</h2>
          <table class="table table-borderless">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <tr>
              <th>
                <%= f.label :メールアドレス %>
              </th>
              <td>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", :size => "40*40" %>
              </td>
            </tr>
            <tr>
              <th>
                <%= f.label :パスワード %>
              </th>
              <td>
                <%= f.password_field :password, autocomplete: "current-password", :size => "40*40" %>
              </td>
            </tr>
            <tr>
              <th colspan="1"></th>
              <th>
                <%= f.submit "ログイン", class: "btn btn-primary" %>
              </th>
            </tr>
          <% end %>
          </table>

          <%= render "admin/shared/links" %>
      </div>
    </div>
  </div>
