  <div class='container'>
    <div class='row'>
      <div class="col-md-10">
        <h2>配送先編集</h2>

        <%= form_with model: @address, url: address_path(@address.id), method: :patch do |address| %>
          <table class="table table-borderless">
            <tr>
              <th width="30%"><%= address.label :郵便番号 %>(ハイフンなし)</th>
              <td width="70%">
                <%= address.text_field :postal_code %>
              </td>
            </tr>
            <tr>
              <th><%= address.label :住所 %></th>
              <td>
                <%= address.text_field :address, :size => "60*60" %>
              </td>
            </tr>
            <tr>
              <th><%= address.label :宛名 %></th>
              <td><%= address.text_field :name %></td>
            </tr>
          </table>
          <%= address.submit "変更内容を保存", class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>