  <div class="col-md-7">
    <h2>ショッピングカート</h2>

    <%= link_to "カートを空にする", cart_items_path, class: "btn btn-sm btn-danger", method: :delete_all, "data-confirm" => "本当に消しますか？"%>
    <table class="table table-bordered">
      <thead>
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
          <th colspan="1"></th>
      </thead>
      <% @cart_items.each do |cart_item| %>
      <tbody>
        <tr>
          <td><%= cart_item.item.name %></td>
          <td><%= cart_item.item.with_tax_price %></td>
          <td><%= cart_item.amount %></td>
          <td><%= (cart_item.item.price * 1.1).floor * cart_item.amount %></td>
          <td><%= link_to "削除する", cart_items_path, class: "btn btn-sm btn-danger", method: :delete, "data-confirm" => "本当に消しますか？"%></td>
          <%#= @total +=  (cart_item.item.price * 1.1).floor * cart_item.amount %>
        </tr>
      </tbody>
      <% end %>
    </table>

    <%= link_to items_path, class: "btn btn-primary" do %>買い物を続ける
    <% end %>

    <%= link_to new_order_path, class: "btn btn-success" do %>情報入力に進む
    <% end %>
  </div>
