  <div class='container'>
    <div class='row'>
      <div class="col-md-4">
        <h2>ショッピングカート</h2>
      </div>
      <div class="col-md-2 offset-4">
        <%= link_to "カートを空にする", cart_items_destroy_all_path, class: "btn btn-sm btn-danger", method: :delete, "data-confirm" => "本当に消しますか？"%>
      </div>
    </div>
    <div class='row'>
      <div class="col-md-10">
        <table class="table table-bordered">
          <thead>
              <th>商品名</th>
              <th>単価(税込)</th>
              <th>数量</th>
              <th>小計</th>
              <th colspan="1"></th>
          </thead>
          <% @cart_items.each do |cart_item| %>
          <tbody>
            <tr>
              <td><%= cart_item.item.name %></td>
              <td><%= cart_item.item.with_tax_price %></td>
              <td><%= form_with model: cart_item, url: cart_item_path(cart_item.id), method: :patch do |cart_item| %>
                    <%= cart_item.select :amount, *[1..10] %>
                    <%= cart_item.submit "変更", class: "btn btn-success" %>
                  <% end %>
              </td>
              <td><%= cart_item.subtotal %></td>
              <td><%= link_to "削除する", cart_item_path(cart_item.id), class: "btn btn-sm btn-danger", method: :delete, "data-confirm" => "本当に消しますか？"%></td>
            </tr>
          </tbody>
          <% @subtotal +=  (cart_item.item.price * 1.1).floor * cart_item.amount %>
          <% end %>
        </table>

      </div>
    </div>
        <div class='row'>
          <div class='col-md-2'>
             <%= link_to items_path, class: "btn btn-primary" do %>買い物を続ける
             <% end %>
          </div>
          <div class='col-md-3 offset-5'>

            <table class="table table-bordered">
              <tbody>
                <tr>
                  <th>合計金額</th>
                  <td><%= @subtotal %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
            <%= link_to new_order_path, class: "btn btn-success" do %>情報入力に進む
            <% end %>
  </div>
