<h2>商品一覧</h2>

    <% @items.each do |item| %>
        <% if item.image.attached? %>
          <p><%= link_to image_tag(item.image, size: "200x200"), item_path(item.id) %></p>
        <% else %>
          <p><%= link_to image_tag('no_image', size: "200x200"), item_path(item.id) %></p>
        <% end %>

          <p><%= item.name %></p>
          <p>¥<%= item.price.to_s(:delimited) %></p>
    <% end %>
    <p><%= paginate @items %></p>